[submodule "libs/faissgo/lib/faiss"]
	path = libs/faissgo/lib/faiss
	url = https://github.com/facebookresearch/faiss
[submodule "libs/hnswgo/lib/hnswlib"]
	path = libs/hnswgo/lib/hnswlib
	url = https://github.com/nmslib/hnswlib.git
